@font-face {
    font-family: "MY-FONT";
    src: url("FONT/Super\ Popstar.ttf") format("truetype");
}

h1 {
    font-family: "MY-FONT", sans-serif;
    color: rebeccapurple;
    text-align: center;
    font-size: 100px;
    padding: 10px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main{
    font-family: "MY-FONT", sans-serif;
    color: rebeccapurple;
    text-align: center;
    font-size: 100px;
}
